*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Balsamiq Sans', cursive;
}
.logo{
  color: #fff;
}
/* navbar */

.navbar
{
    opacity: 0.9;
    margin-top: 0.1rem;
    z-index: 1000;
}
.navbar-brand
{
    margin-left: 1.2rem;
}
.dropdown-item:hover
{
    color: #fff;
    background-color: #333;
    border-radius: 2rem;

}
.nav-item:hover
{
    padding: .2rem;
    background-color: rgb(78, 78, 78);
    border-radius: 2rem;
}
.hero {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #000;
  background-image: url("nct\ start.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

header.hero .hero-heading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  color: #fff;
}
/*Major Causes Section*/
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}
/*End of Major Causes Section */
/*Project Section */
#project .project-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#project .project-item .project-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#project .project-item .project-link .project-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(101, 24, 81, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
  box-shadow: 3px 3px rgb(215, 213, 213);
}
#project .project-item .project-link .project-hover 
.project-hover-content {
  font-size: 1.25rem;
  color: white;
  
}
#project .project-item .project-link:hover .project-hover {
  opacity: 1;
}
#project .project-item .project-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: rgb(231, 217, 217);
  box-shadow: 3px 3px rgb(215, 213, 213);
}
#project .project-item .project-caption .project-caption-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
#project .project-item .project-caption .project-caption-subheading {
  font-style: italic;
 }

.project-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.project-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.project-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.project-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
}
.project-modal .modal-content p {
  margin-bottom: 2rem;
}
.project-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.project-modal .modal-content img {
  margin-bottom: 2rem;
}
.project-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.project-modal .close-modal:hover {
  opacity: 0.3;
}
/*End of Project*/
/* About section*/

.about {
padding: 10px 0 0 0;
}

.about .icon-boxes h3 {
font-size: 35px;
font-weight: bold;
color: #080808;
margin-bottom: 15px;
}

.about .icon-box {
margin-top: 40px;
}

.about .icon-box .icon {
float: left;
display: flex;
align-items: center;
justify-content: center;
width: 64px;
height: 64px;
border: 2px solid #cc1c05;
border-radius: 50px;
transition: 0.5s;
}

.about .icon-box .icon i {
color: #cc1c05;
font-size: 32px;
}

.about .icon-box:hover .icon {
background: #cc1c05;
border-color: #cc1c05
}

.about .icon-box:hover .icon i {
color: #fff;
}

.about .icon-box .title {
margin-left: 85px;
font-weight: 700;
margin-bottom: 10px;
font-size: 18px;
}

.about .icon-box .title a {
color: #343a40;
transition: 0.3s;
}

.about .icon-box .title a:hover {
color: #cc1c05;
}

.about .icon-box .description {
margin-left: 85px;
line-height: 24px;
font-size: 14px;
}

/* end of About Section*/
/*Team Section*/

.box
{
position: relative;
width: 280px;
height: 400px;
margin: 20px 0;
box-sizing: border-box;
overflow: hidden;
}

.box .img-box
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
clip-path: circle(400px at center 100px);
transition: 0.5s;
transition-delay: 0.5s;
}
.box:hover .img-box
{
clip-path: circle(80px at center 100px);
transition-delay: 0s;
}
.box .img-box img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.box .content
{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 55%;
padding: 20px;
box-sizing: border-box;
text-align: center;
}
.box .content h2
{
margin: 0;
padding: 0;
}
.box .content a
{
text-decoration: none;
background: #000;
color: #fff;
padding: 5px;
display: inline-block;
}
.box .content h2,
.box .content p,
.box .content a
{
opacity: 0;
transition: 0.5s;
transform: translateY(20px);
}
.box:hover .content h2
{
opacity: 1;
transform: translateY(0);
transition-delay: 0.5s
}
.box:hover .content p
{
opacity: 1;
transform: translateY(0);
transition-delay: 0.7s
}
.box:hover .content a
{
opacity: 1;
transform: translateY(0);
transition-delay: 0.9s
}
/* End of Team Section*/
/* Blog Section */
.ribbon{
  width: 100px;
  height: 60px;
  margin: -10px auto;
  background: #f0d803; 
  position: absolute;
  top: 0;
  right:0;
}
.ribbon:before{
  content:"";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-left: 75px solid #f0d803;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.ribbon:after{
  content:"";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-right: 75px solid #f0d803;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

}
.text{
  text-align: center;
  
}
.btn-color{
  background: #f0d803;
}


/*End of Blog Section*/


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
padding: 20px 40px;
background: #b8b7b3;
color: #131313;
text-align: center;
border: 1px solid #fff;
}

.contact .info i {
font-size: 30px;
color: #a31818;
margin-bottom: 15px;
}

.contact .info h4 {
padding: 0;
margin: 0 0 10px 0;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
}

.contact .info p {
font-size: 15px;
}
.rounded-cor{
border-radius: 50px;
}
/*Footer*/
.social{
display: flex;
width: 250px;
justify-content: space-between;
list-style: none;
}
.social .list-item{
position: relative;
width:60px;
height: 60px;
border-radius: 50%;
background: #fff;
}
.social .list-item:after,
.social .list-item:before{
content:"";
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(45deg, red, yellow);
border-radius: 50%;
z-index: -1;
filter: blur(10px);
opacity: 0;
transition: 1s;
}
.social .list-item:after{
filter: blur(20px);
}
.social .list-item:hover:before,
.social .list-item:hover:after{
opacity: 1;
}
.social .list-item .list-link{
position: absolute;
top: 10px;
left: 10px;
right: 10px;
bottom: 10px;
text-align: center;
line-height: 50px;
color: #fff;
background: #000;
font-size: 28px;
border-radius: 50%;
transition:2s;
}
.social .list-item .list-link i{
text-shadow: 0 2px 5px rgba(0,0,0, .2);

}
.social .list-item:nth-child(1) a,
.social .list-item:nth-child(1):before,
.social .list-item:nth-child(1):after{
background: linear-gradient(45deg, #00aeff, #a200ff);
}
.social .list-item:nth-child(2) a,
.social .list-item:nth-child(2):before,
.social .list-item:nth-child(2):after{
background: linear-gradient(45deg, #00a2ff, #ff1e00);
}
.social .list-item:nth-child(3) a,
.social .list-item:nth-child(3):before,
.social .list-item:nth-child(3):after{
background: linear-gradient(45deg,#ff008c, #ce6708);
}
.social .list-item:nth-child(4) a,
.social .list-item:nth-child(4):before,
.social .list-item:nth-child(4):after{
background: linear-gradient(45deg,#0791c7, #f794a5);
}





/*testimonial  */


@media screen and (max-width: 480px) {
    body {
    }
    .navbar-brand
{
    margin-left: 0px;
    font-size: 1rem;
}
    .video
    {
        margin-top: 130px;
    }
  }





















